[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
fastapi = "*"
pydantic = "*"
joblib = "*"
uvicorn = "*"
scikit-learn = "*"
nest-asyncio = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"
ipython = "*"
torch = "*"
vetiver = {editable = true, path = "."}

[dev-packages]
