name: "Docs Check"

on:
  workflow_dispatch:
  push:
    branches: ['main', 'dev-*']
  pull_request:
  release:
    types: [published]

jobs:
  tests:
    name: "Docs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]
      - name: build docs
        run: |
          cd docs
          make html
      - name: save docs
        uses: actions/upload-artifact@v3
        with:
          name: docs-html
          path: docs/_build/html/
      - name: publish dev docs
        if: github.ref_name == 'main' && github.ref_type == 'branch'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/*
          publish_branch: gh-pages
          destination_dir: main
      - name: publish stable docs
        if: github.ref_name == 'main' && github.ref_type == 'tag' && startswith(github.ref, 'refs/tags/v')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/*
          publish_branch: gh-pages
          destination_dir: github.ref_name
      - name: create symlink stable to new version
        if: github.ref_type == 'tag' && startswith(github.ref, 'refs/tags/v')
        run: |
          rm stable
          ln -s "${{ github.ref_name }}" stable
          ls -la
