name: tests

on:
  workflow_dispatch:
  push:
    branches: ['main', 'dev-*', 'dev']
  pull_request:
  release:
    types: [published]

jobs:
  tests:
    name: "Tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: 'ubuntu-latest'
            python-version: '3.7'
          - os: 'macos-latest'
            python-version: '3.8'
          - os: 'windows-latest'
            python-version: '3.9'
          - os: 'ubuntu-latest'
            python-version: '3.10'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev,torch,statsmodels,xgboost]
      - name: Run Tests
        run: |
          pytest -m 'not rsc_test' --cov --cov-report xml
      - name: Upload coverage
        uses: codecov/codecov-action@v2

  test-rsconnect:
    name: "Test RSConnect"
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[dev]"
          python -m pip install --upgrade git+https://github.com/rstudio/vetiver-python@${{ github.sha }}
          echo {{ github.sha }}
      - name: run RStudio Connect
        run: |
          docker-compose up --build -d
          pip freeze > requirements.txt
          make dev
        env:
          RSC_LICENSE: ${{ secrets.RSC_LICENSE }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      # NOTE: edited to run checks for python package
      - name: Run tests
        run: |
          pytest vetiver -m 'rsc_test'

  test-no-extras:
    name: "Test no exra ml frameworks"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]

      - name: Run tests
        run: |
          pytest vetiver/tests/test_sklearn.py
